.bgImg{
    background-image: url("../../assets/background-login.jpg");
    background-size: cover;
    background-position: center;
}

.eye-icon-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
  
.eye-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
}
  
.show-password {
    background-image: url('../../assets/eye-on.svg');
}
  
.hide-password {
    background-image: url('../../assets/eye-off.svg');
}
  

#google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #google-btn img {
    max-width: 100%;
    height: auto;
  }
  